@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

header {
border-radius: 0 0 25px 25px;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.active {
  background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  min-width: 90px;
}
/* Create a new CSS file (e.g., DynamicCaption.css) */
.caption {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.caption.fade-out {
  opacity: 0;
}