@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Ga+Maamli&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
header {
border-radius: 0 0 25px 25px;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.active {
  background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  min-width: 90px;
}
/* DynamicCaption.css */

.highlight {
  color: blue;
  /* Blue text color */
  font-size: 24px;
  /* Adjusted font size, x-large is approximately 24px */
  text-shadow:
    1px 1px 1px #ccc,
    /* Light gray inner shadow */
    0 0 5px #333;
  /* Darker outer shadow */
}


.page {
  display: grid;
  min-height: 100vh;
}

.page__txt {
  margin: auto;
}

.txt {
  color: transparent;
  display: flex;
  flex-wrap: wrap;

  /* Ensures that long text will wrap within the container */
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 136px;
  /* Fixed font size */
  text-transform: uppercase;
}

.txt__character {
  animation: fall 8s linear infinite;
  animation-delay: calc(var(--i) * 200ms);
}

.txt__space {
  width: 0.5em;
  /* Adjust width as needed for spacing between words */
}

@keyframes fall {

  50%,
  80% {
    color: hsl(calc(var(--i) * 25), 100%, 50%);
    transform: translateY(0);
    opacity: 1;
  }

  95%,
  100% {
    opacity: 0;
  }
}


body {
      /* Adjust the opacity as needed */  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("/public/myPicForBg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 60px;
}
body::-webkit-scrollbar {
  display: none;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/splashBg.png');
  /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  /* Ensures the image covers the entire container */
  background-position: center;
  /* Centers the image within the container */
  animation: fadeInOut 6s ease-in infinite alternate;
  /* Adjust timing and animation as needed */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* Curser Pointer Styling */
.svg {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
}

/* Spinner When the form is submiting */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  /* Light grey background */
  border-left: 4px solid black;
  /* Black spinner color */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}